<?php
	var_dump($vars); ?>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../src/out/style.css">
<!-- <script src='../src/out/form.js'></script> -->
</head>
<body><center class='failure'>Failure Acknowledgement!</center>
</body></html>
