<?php
	$currentTab = 0;
	if(isset($vars) && !empty($vars)) {
		$currentTab = $vars['current'];
	}
?>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../src/out/style.css">

</head>
<body>
	<form action="/save" id="regForm" method='post'>
	  <div class="tab">
		<h1>Register</h1>
		<p>Please fill in this form to create an account.</p>
		<hr>
		<label for="email"><b>Email</b></label>
		<input type="email" placeholder="Enter Email" name="email" id="email" 
				value="<?php if(isset($vars['email'])) { echo $vars['email'];}?>" required>
	  </div>
	  
	   <div class="tab">
		<label for="firstname"><b>First Name</b></label>
		<input type="text" placeholder="Enter First Name" name="firstname" id="firstname" 
			value="<?php if(isset($vars['firstname'])) { echo $vars['firstname'];}?>" required>

		<label for="lastname"><b>Last Name</b></label>
		<input type="text" placeholder="Enter Last Name" name="lastname" id="lastname"  
			value="<?php if(isset($vars['lastname'])) { echo $vars['lastname'];}?>" required>

		<label for="phonenumber"><b>Phone</b></label>
		<input type="number" placeholder="Enter Phone Number" name="phonenumber" id="phonenumber"  
			value="<?php if(isset($vars['phonenumber'])) { echo $vars['phonenumber'];}?>" required>

	  </div>
	   <div class="tab">

		<label for="street"><b>Street</b></label>
		<input type="text" placeholder="Enter Street" name="street" id="street"  
			value="<?php if(isset($vars['street'])) { echo $vars['street'];}?>" required>

		<label for="houseno"><b>House Number</b></label>
		<input type="number" placeholder="Enter House Number" name="houseno" id="houseno"  
			value="<?php if(isset($vars['houseno'])) { echo $vars['houseno'];}?>" required>

		<label for="zip"><b>Zip Code</b></label>
		<input type="text" placeholder="Enter Zip Code" name="zip" id="zip"  
			value="<?php if(isset($vars['zip'])) { echo $vars['zip'];}?>" required>
		
		<label for="city"><b>City</b></label>
		<input type="text" placeholder="Enter City" name="city" id="city"  
			value="<?php if(isset($vars['city'])) { echo $vars['city'];}?>" required>
		
	
	  </div>
	   <div class="tab">
		<label for="accountowner"><b>Account Owner</b></label>
		<input type="text" placeholder="Account Owner" name="accountowner" id="accountowner"  
			value="<?php if(isset($vars['ownername'])) { echo $vars['ownername'];}?>" required>

		<label for="iban"><b>IBAN</b></label>
		<input type="text" placeholder="Enter IBAN" name="iban" id="iban"  
			value="<?php if(isset($vars['iban'])) { echo $vars['iban'];}?>" required>
	  </div>
	  <div style="overflow:auto;">
	  <div style="float:right;">
		<button type="button" id="prevBtn" class="registerbtn" onclick="nextPrev(-1)">Previous</button>
		<button type="button" id="nextBtn" class="registerbtn" onclick="nextPrev(1)">Next</button>
	  </div>
	</div>
	  <!-- Circles which indicates the steps of the form: -->
	<div style="text-align:center;margin-top:40px;">
		<input type="hidden" name="current" id="current" value=<?php if(isset($vars['current'])) { echo $vars['current'];} else { echo 0; } ?>>
	  <span class="step"></span>
	  <span class="step"></span>
	  <span class="step"></span>
	  <span class="step"></span>
	</div>
	</form>
<script src='../src/out/form.js'></script>	
<script>
var currentTab = <?php echo $currentTab; ?> // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab
</script>

</body>
