<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../src/out/style.css">
<!-- <script src='../src/out/form.js'></script> -->
</head>
<body>
	<center class='success'>
		Success Acknowledgement!<br>
		<?php if(isset($vars['extramsg'])) { echo $vars['extramsg']; }?><br>
		<small><?php echo 'Payment Receipt ID: '.$vars['message']; ?></small>
	</center>
</body></html>
